<div class="page-header">
    <div class="page-header-content">
        <a href="/"><img class="header-logo"
                src="{{ '/assets/images/site/lightform-logo.png' | prepend: site.baseurl | prepend: site.url }}"></a>
        <div class="page-manage-buttons">
            <a href="http://prose.io/#test-aplowman/test-aplowman.github.io/edit/master/_posts/2018-08-21-apples.md"
                class="edit-page-button">edit page</a>
            <a href="https://github.com/test-aplowman/test-aplowman.github.io/commits/master/_posts/2019-02-24-a_new_post.md"
                class="page-history-button">&nbsp;</a>
        </div>
    </div>
</div>
