html, body {
    margin: 0;
    padding: 0;
}
body {
    font: 300 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size-adjust: none;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-variant-alternates: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-language-override: normal;
    font-feature-settings: normal;
    font-variation-settings: normal;
    color: #333;
}
blockquote, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul {
    margin: 0;
}
blockquote, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul {
    margin-bottom: 1rem;
}


#style-control {
    border: 1px solid gray;    
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    /* background-color: lightgreen;  */
}    
.header {
    /* background-color:pink; */
}
.header-container {        
    border-bottom: 1px solid #f2f3f3;
    /* background-color: purple; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.language-python::before, .language-bash::before {
    display: inline-block;    
    color: #4c6a72;
    // font-weight: bold;    
    font-variant: small-caps;
    background-color: #ccd4d6;
    padding: 0 0.5rem;
    text-align: left;
}
.language-python::before {
    content: "Python";
}
.language-bash::before {
    content: "Bash";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav {
    display: none;
    font-weight: normal;
}

body.nav-open #nav {
    display: block;
    width: 280px;
    margin-top: 1.5rem;
    border: 1px solid #aaa;

}

.main {
    margin-top: 3rem;
}

img.center {
    display: block;
    margin: 0 auto;
}

.post-meta, .all-tags {
    color: #aaa;
    font-size: 0.875rem;
    font-family: Inconsolata, Monaco, Consolas, monospace;
}

img.header-logo {
    max-width: 240px;
}

.all-tags a {
    display: inline-block;
    background-color: #eaeaea;
    color: #6a6a6a;
    margin: 0.1rem 0;
    padding: 0 0.2rem;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.post-content {
    font-weight: normal;
}

.nav-group-title {
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f3f3;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.post-content h1, 
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 2rem;
    font-weight: normal;
}

.post-content h3 {
    font-size: 1.5rem;
}

ul.post-list {
    padding-left: 0;
}
ul.post-list li {
    list-style-type: none;
}

header {
    margin-bottom: 2rem;
}

#nav-control {
    width: 28.284271247461900976033774484194px; /*(vertical bar sep) * 2 / cos(45) */
    height: 25px;
    /* background-color:lightgreen; */
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  
#nav-control span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #666;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
#nav-control.open {
    /* border: 1px solid #aaa; */
}
#nav-control span:nth-child(1) {
    transform-origin: left center;
}

#nav-control span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
}

#nav-control span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
}

#nav-control.open span:nth-child(1) {
    transform: translate(4.142135623730950488016887242097px, 0) rotate(45deg);
    /* x-translation is: (bar length / 2) - (bar vertical separation (*2?)) */
}

#nav-control.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-control.open span:nth-child(3) {
    transform: translate(4.142135623730950488016887242097px, 0) rotate(-45deg);
    /* x-translation is: (bar length / 2) - (bar vertical separation (*2?)) */    
}
blockquote {
    background:#f9f9f9;
    border-left:10px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
  }

.pre-wrap {
    background-color: lightblue;
    overflow-x: auto;
    white-space: pre;
    // position: absolute;
}
// @media only screen and (min-width: 50rem) {
//     body {
//       /* background-color: lightblue; */
//     }
//     .header-container, .container {
//         display: grid;
//         grid-template-columns: 0rem 220px 1fr 0rem;
//         grid-column-gap: 1rem;
//         padding-left: 0.5rem;
//         padding-right: 0.5rem;      
//     }
//     .container {
//         grid-template-areas: ". nav main .";
//         align-items: start;
//         margin-top: 3rem;
//     }    
//     .header-container {        
//         grid-template-areas: ". header . .";
//         border-bottom: 1px solid #f2f3f3;
//         justify-items: center;
//     }
//     .header {
//         grid-area: header;    
//     }
//     .main {
//         grid-area: main;
//         margin-top: 0;
//         margin-left: 1em;
//         max-width: 45rem;
                
//     }
//     #nav {
//         display: block;
//         grid-area: nav;
//         opacity: 0.75;
//         transition: opacity .25s ease-in-out;        
//     }
//     #nav:hover {
//         opacity: 1;
//     }    
//     #nav-control {
//         display: none;
//     }    
//     body.nav-open #nav {
//         border: none;
//     }    
// }

// @media only screen and (min-width: 60rem) {
//     body {
//       /* background-color: lightgoldenrodyellow; */
//     }
//     .header-container, .container {
//         display: grid;
//         grid-template-columns: 1fr 280px 60% 1fr;
//         grid-column-gap: 1rem;
//     }
//     .container {
//         grid-template-areas: ". nav main .";
//         align-items: start;
//         margin-top: 3rem;
//     }    
//     .header-container {        
//         grid-template-areas: ". header . .";
//         border-bottom: 1px solid #f2f3f3;
//         justify-items: center;
//     }
//     .header {
//         grid-area: header;    
//     }
//     .main {
//         grid-area: main;
//         margin-top: 0;
//         max-width: 45rem;
//     }
//     #nav {
//         display: block;
//         grid-area: nav;
//         opacity: 0.75;
//         transition: opacity .25s ease-in-out;        
//     }
//     #nav:hover {
//         opacity: 1;
//     }    
//     #nav-control {
//         display: none;
//     }    
//     body.nav-open #nav {
//         border: none;
//     }    
// }
