<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div class="header-container">
        <div id="nav-control" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <span id="style-control" onclick="toggleStyle()">Toggle style</span>
        <div class="header">
            <img class="header-logo center"
                src="{{ '/assets/images/lightform-logo.png' | prepend: site.baseurl | prepend: site.url }}">
        </div>
    </div>
    <div class="container">
        <div id="nav">
            <div class="nav-group">
                <div class="nav-group-title">Posts</div>
                <ul class="post-list">
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="nav-group">
                <div class="nav-group-title">Tags</div>
                <div class="all-tags">
                    <a href="#">#Simulation</a>
                    <a href="#">#DAMASK</a>
                    <a href="#">#CSF</a>
                </div>
            </div>
        </div>
        {{ content }}
    </div>

    <script>
        function toggleNav() {
            document.getElementsByTagName("body")[0].classList.toggle("nav-open");
            document.getElementById("nav-control").classList.toggle("open");
        }
        function toggleStyle() {
            console.log("toggleStyle!")
            var styleDark = "/assets/styles/main-dark.css";
            var styleLight = "/assets/styles/main-light.css";
            var styleHref = document.getElementById("main-style-link").href
            console.log("styleDark = " + styleDark)
            console.log("styleLight = " + styleLight)
            console.log("styleHref = " + styleHref)
            var check = styleHref.includes(styleDark)
            console.log("styleHref.includes(styleDark): " + check)

            if (styleHref.includes(styleDark)) {
                document.getElementById("main-style-link").href = styleLight
            } else {
                document.getElementById("main-style-link").href = styleDark
            }
        }
    </script>
</body>

</html>
