---
layout: default
---
<article class="main">
    <header>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <time datetime="2017-01-15T00:00:00+00:00" itemprop="datePublished">
                Jan 15, 2017
            </time>•
            <span class="author-name">{{ page.author }}</span> •
            <span class="all-tags">
                <a href="#">#simulation</a><a href="#">#damask</a><a href="#">#csf</a>
            </span>
        </div>
    </header>
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
    <hr>
</article>
